@font-face {
    font-family: "cuteFont";
    src: url("./CuteFont-Regular.ttf");
}
* {
    font-family: "cuteFont";
    font-size: 20px;
}

html,
body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 0.5s;
}
.fadeOut {
    animation: fadeOut;
    animation-duration: 0.5s;
}
