#resultBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6f4f1;
    border-radius: 80px;
    padding: 1rem 2rem;
}

#resultImg {
    height: 250px;
    margin: 3rem 0;
}

#resultSubtitle {
    margin: 1rem;
}

#resultDetail {
    text-align: center;
    font-size: 22px;
}

@media (max-width: 992px) {
    #result {
        height: 90%;
        overflow: hidden;
        padding: 2rem 0;
    }
    #result > h3 {
        letter-spacing: -2px;
        font-size: 18px;
        font-weight: bold;
    }
    #resultBlock {
        height: 90%;
        border-radius: 10px;
        overflow: scroll;
        justify-content: flex-start;
        text-align: start;
    }
    #resultBlock > h3 {
        letter-spacing: -2px;
        font-size: 16px;
    }
    #resultBlock > p {
        letter-spacing: -2px;
        font-size: 14px;
    }
    #resultBlock::-webkit-scrollbar {
        display: none;
    }
}
